%section.followers
  %ul#tabs-swipe-demo.tabs
    %li.tab.col.s3
      %a{:href => "#test-swipe-1"}
        = @user.followees.count
        追蹤中
    %li.tab.col.s3
      %a.active{:href => "#test-swipe-2"}
        = @user.followers.count
        粉絲
  #test-swipe-1.col.s12.white
    %ul
      - @followees.each do |followee|
        %li.followers-list 
          =link_to image_tag(followee.avatar_url), user_path(followee), class: "follower-avatar"
          %div.follower-href
            = link_to followee.last_name + followee.first_name, user_path(followee), class: "follwer-name"
            = link_to followee.about || "", user_path(followee), class: "follower-about"
        %li.divider
  #test-swipe-2.col.s12.white
    %ul
      - @followers.each do |follower|
        %li.followers-list 
          =link_to image_tag(follower.avatar_url), user_path(follower), class: "follower-avatar"
          %div.follower-href
            = link_to follower.last_name + follower.first_name, user_path(follower), class: "follwer-name"
            = link_to follower.about || "", user_path(follower), class: "follower-about"
          %li.divider
