.white-margin
  .user-page
    .user-page-left
      %section.user-page-left-info
        .user-name
          %h3.font-ch
            =@user.last_name
          %h3.font-ch
            =@user.first_name
        .user-info
          .user-avatar
            =image_tag @user.avatar_url, class: "materialboxed"
            -if @user == current_user
            -elsif @user.followers.include?(current_user)
              = link_to "取消追蹤", unfollow_path(follower: current_user.id, followee: @user.id), method: "delete", class: "btn waves-effect waves-light light-blue"
            -else
              - if current_user
                = link_to "追蹤", follow_path(follower: current_user, followee: @user.id), method: "post", class: "btn waves-effect waves-light light-blue"
              - else 
                = link_to "追蹤", new_user_path, class: "btn waves-effect waves-light light-blue"
          .user-info-right
            .user-info-physical
              -if @user.righthanded
                %p Righthanded
              -else
                %p Lefthanded
              -if @user.double_handed_backhand
                %p Double Handed Backhand
              -else
                %p Single Handed Backhand
              -if @user.height.present?
                %p
                  = @user.height
                  cm
              -else
                %p N/A
              -if @user.weight.present?
                %p
                  = @user.weight
                  kg
              -else
                %p N/A
            .user-info-training
              .training-left
                .user-info-block
                  .training-title
                    %p 球隊/學校:
                  .training-content
                    %p
                      = @user.academy
                .user-info-block
                  .training-title
                    %p 城市:
                  .training-content
                    %p
                      = @user.city
              .training-right
                .user-info-block
                  .user-followers
                    = link_to "追蹤人數", followees_user_path
                    = link_to @user.followees.count, followees_user_path
                .user-info-block
                  .user-followees
                    = link_to "粉絲人數", followers_user_path
                    = link_to @user.followers.count, followers_user_path
        -if @user == current_user
          .waves-effect.waves-light.btn
            =link_to "編輯個人檔案", edit_user_path
      %section.user-page-left-athletic
        %ul#tabs-swipe-demo.tabs
          %li.tab.col.s3
            %a{:href => "#test-swipe-1"} 運動
          %li.tab.col.s3
            %a.active{:href => "#test-swipe-2"} 學業
          %li.tab.col.s3
            %a{:href => "#test-swipe-3"} 影片
        #test-swipe-1.col.s12.blue
          .athletic-record
            %p ITF 排名:
            %p
              =@user.itf
          .athletic-record
            %p UTR 級數:
            %p
              =@user.utr
          .athletic-record
            %p 全國 排名:
            %p
              =@user.ntr
        #test-swipe-2.col.s12.pink
          .athletic-record
            %p SAT 成績
            %p
              =@user.sat
          .athletic-record
            %p ACT 成績
            %p
              =@user.act
          .athletic-record
            %p TOEFL 成績
            %p
              =@user.toefl
        #test-swipe-3.col.s12.green
          .video-container
            %iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "https://www.youtube.com/embed/videoseries?list=PLmVw0Ou6nvAD0SLC2QjXySCgTQur9Xj3r", :width => "853"}
      %section.user-page-left-about
        %h3.section-title.font-en About
        %h3.section-title.font-ch 關於我
        %p
          = @user.about
      %section.user-page-left-tweets
        %h3.section-title.font-ch Posts
        %h3.section-title.font-ch 我的貼文
        %ul
          - @tweets.each do |tweet|
            %div.follower-href
              = tweet.body
            %li.divider
    .user-page-right
      %div.col.s12
        最近到訪過你的檔案
      .btn 
        =link_to "產生信", email_user_path
